.quote {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-l);
  padding: var(--space-m);
  background: var(--color-light-pink);
  border-radius: var(--space-s);

  picture {
    flex-basis: 12.5rem;
    flex-grow: 0;
  }

  figure {
    flex-basis: 20rem;
    flex-grow: 1;
  }
}
