---
import Logo from "@/assets/svg/logo.svg";
---

<header class="site-head | bg-black text-white py-m">
  <div class="wrapper">
    <a href="/" class="logo"><Logo /></a>
    <div class="cluster">
      <p>SiteHead</p>
      <button
        class="nav-toggle"
        id="nav-toggle"
        aria-expanded="false"
        aria-haspopup="true"
      >
        Menu
      </button>
    </div>
  </div>
</header>

<style>
  @import "./SiteHead.css";
</style>

<script>
  import "./SiteHead.js";
</script>
