.plain-html {
  > :where(h1, h2, h3) {
    font-weight: var(--weight-bold);
    color: var(--color-dark-pink);
  }

  > :where(h2) {
    font-size: var(--text-step-3);
    --stack-space: var(--space-xl);
  }

  > :where(h3) {
    font-size: var(--text-step-2);
  }

  > :where(ul, ol) {
    > * + * {
      margin-block-start: var(--space-3xs);
    }
  }

  > :where(blockquote) {
    --stack-space: var(--space-xl);
    font-size: var(--text-step-3);
    line-height: var(--leading-tight);
    padding-inline-start: var(--space-m);
    border-inline-start: var(--space-3xs) solid var(--color-light-pink);

    footer {
      font-size: var(--text-step-1);
      margin-block-start: var(--space-xs);
    }
  }
}
