---
const { href, target, rel, text } = Astro.props;
---

<a href={href} target={target} rel={rel} class="button">
  <span class="content">{text}</span>
</a>

<style>
  @import "./Button.css";
</style>
