---
import { StructuredText } from "@datocms/astro";
import Button from "../Button/Button.astro";

const { block } = Astro.props;
---

<div class="highlight-box text-step-1 stack-m text-center">
  <div class="balanced"><StructuredText data={block.text} /></div>
  {block.cta && <Button link={block.cta} />}
</div>

<style>
  @import "./HighlightBox.css";
</style>
