---
import DatoPicture from "@/components/dato/DatoPicture/DatoPicture.astro";
const { block } = Astro.props;
const images = block.images || [];
---

<div class="auto-grid gallery">
  {
    images.map((image) => (
      <DatoPicture
        image={image}
        ratio={1 / 1}
        widths={[200, 400, 800]}
        formats={["webp", "svg"]}
        pictureClass="gallery-image"
        class="image-class"
      />
    ))
  }
</div>

<style>
  @import "./Gallery.css";
</style>
