body {
  line-height: 1.5;
  font-family: "Sora Variable", sans-serif;
  -webkit-font-smoothing: antialiased;
}

@view-transition {
  navigation: auto;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
  font-weight: var(--weight-bold);
}

::view-transition-group(.blog-image) {
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
}
