@layer fonts, reset, layout, plugins, utils, blocks;

/* Import all files from utilities folder
This needs to be the first import statement */
@import "_import-glob.css";

@import "_reset.css" layer(reset);
@import "_root.css" layer(reset);

/* Import generated variables and utilities */
@import "./generated/_variables.css" layer(reset);
@import "./generated/_utilities.css" layer(utils);
