---
const { content } = Astro.props;

import StructuredTextBlock from "@/components/dato/StructuredTextBlock/StructuredTextBlock.astro";
import Gallery from "@/components/dato/Gallery/Gallery.astro";
import FactList from "../FactList/FactList.astro";
---

{
  content.map((block) => {
    const typename = block.__typename?.replace(/Record$/, "");

    switch (typename) {
      case "Gallery":
        return <Gallery {block} />;
      case "StructuredText":
        return <StructuredTextBlock {block} />;
      case "FactList":
        return <FactList {block} />;
      default:
        return <p>Unknown block: {block.__typename}</p>;
    }
  })
}
