---
import favicon from "@/assets/svg/favicon.svg";

import "@fontsource-variable/sora";
import "@/styles/global.css";

import SiteHead from "@/components/SiteHead/SiteHead.astro";
import SiteFoot from "@/components/SiteFoot/SiteFoot.astro";

const preview = process.env.LIVE_PREVIEW === "true";

import { Seo } from "@datocms/astro";
const { seo } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={favicon.src} />
    <meta name="generator" content={Astro.generator} />

    {
      preview ? (
        <>
          <title>Preview-Mode | Dato Astro Boilerplate</title>
          <meta name="robots" content="noindex" />
        </>
      ) : seo ? (
        <Seo data={[...seo]} />
      ) : (
        <title>Dato Astro Boilerplate</title>
      )
    }
  </head>
  <body>
    <SiteHead />
    <main tabindex="-1">
      <slot />
    </main>
    <SiteFoot />
  </body>
</html>

<script>
  import "@/js/global.js";
</script>
